<div class="jumbotron text-center " id="red">
   <div class="jumbotron-filter text-center">
   <h1>Encuentra tu centro <br>
     <!-- para -->
     <span
        class="txt-rotate"
        data-period="150"
        data-rotate='[ "adelgazar.", "tonificar.", "cuidarte.", "tu bienestar."]'></span>
   </h1>
 </div>
</div>


<!-- CARDS -->
<div id="portfolio" class="container-fluid text-center bg-grey">
 <div class="recipes-row row text-center slideanim">


 <!-- <% diets.forEach((d) => { %>
   <div class=" col-sm-4 card">
     <div class="card-img-top">
       <img class="img-fluid"src="/uploads/<%=d.picture%>" alt="">
     </div>
     <div class="card-block">
       <h4 class="card-title"><%=d.name %></h4>
       <p class="card-text"><%=d.categories %></p>
       <a href="/user/<%=d._creator.id %>" class=" btn btn-primary btn-diet"> <img width="50" height="50" src="/uploads/<%=d._creator.picture%>" class="img-circle"alt=""> </a>
     </div>
   </div>
   <%  }) %> -->

<div class=" col-sm-4 card">
 <div class="card-img-top">
   <img class="img-fluid"src="../../assets/mayores.jpg" alt="">
 </div>
 <div class="card-block">
   <h4 class="card-title">Center</h4>
   <p class="card-text">Magni inventore repellat dignissimos eveniet dolore ex sit illo adipisci accusamus quos.</p>
   <a href="#" class=" btn btn-primary btn-diet ">  </a>
 </div>
</div>
<div class=" col-sm-4 card">
 <div class="card-img-top">
   <img class="img-fluid"src="../../assets/mayores.jpg" alt="">
 </div>
 <div class="card-block">
   <h4 class="card-title">Center</h4>
   <p class="card-text">Magni inventore repellat dignissimos eveniet dolore ex sit illo adipisci accusamus quos.</p>
   <a href="#" class=" btn btn-primary btn-diet">  </a>
 </div>
</div>

<div class=" col-sm-4 card">
 <div class="card-img-top">
   <img class="img-fluid"src="../../assets/mayores.jpg" alt="">
 </div>
 <div class="card-block">
   <h4 class="card-title">Center</h4>
   <p class="card-text">Magni inventore repellat dignissimos eveniet dolore ex sit illo adipisci accusamus quos.</p>
   <a href="#" class=" btn btn-primary btn-diet">  </a>
 </div>
</div>
<div class=" col-sm-4 card">
 <div class="card-img-top">
   <img class="img-fluid"src="../../assets/mayores.jpg" alt="">
 </div>
 <div class="card-block">
   <h4 class="card-title">Center</h4>
   <p class="card-text">Magni inventore repellat dignissimos eveniet dolore ex sit illo adipisci accusamus quos.</p>
   <a href="#" class=" btn btn-primary btn-diet">  </a>
 </div>
</div>
<div class=" col-sm-4 card">
 <div class="card-img-top">
   <img class="img-fluid"src="../../assets/mayores.jpg" alt="">
 </div>
 <div class="card-block">
   <h4 class="card-title">Center</h4>
   <p class="card-text">Magni inventore repellat dignissimos eveniet dolore ex sit illo adipisci accusamus quos.</p>
   <a href="#" class=" btn btn-primary btn-diet" >  </a>
 </div>
</div>
<div class=" col-sm-4 card">
 <div class="card-img-top">
   <img class="img-fluid"src="../../assets/mayores.jpg" alt="">
 </div>
 <div class="card-block">
   <h4 class="card-title">Center</h4>
   <p class="card-text">Magni inventore repellat dignissimos eveniet dolore ex sit illo adipisci accusamus quos.</p>
   <a href="#" class=" btn btn-primary btn-diet">  </a>
 </div>
</div>
<div class=" col-sm-4 card">
 <div class="card-img-top">
   <img class="img-fluid"src="../../assets/mayores.jpg" alt="">
 </div>
 <div class="card-block">
   <h4 class="card-title">Center</h4>
   <p class="card-text">Magni inventore repellat dignissimos eveniet dolore ex sit illo adipisci accusamus quos.</p>
   <a href="#" class=" btn btn-primary btn-diet">  </a>
 </div>
</div>
<div class=" col-sm-4 card">
 <div class="card-img-top">
   <img class="img-fluid"src="../../assets/mayores.jpg" alt="">
 </div>
 <div class="card-block">
   <h4 class="card-title">Center</h4>
   <p class="card-text">Magni inventore repellat dignissimos eveniet dolore ex sit illo adipisci accusamus quos.</p>
   <a href="#" class=" btn btn-primary btn-diet">  </a>
 </div>
</div>
<div class=" col-sm-4 card">
 <div class="card-img-top">
   <img class="img-fluid"src="../../assets/mayores.jpg" alt="">
 </div>
 <div class="card-block">
   <h4 class="card-title">Center</h4>
   <p class="card-text">Magni inventore repellat dignissimos eveniet dolore ex sit illo adipisci accusamus quos.</p>
   <a href="#" class=" btn btn-primary btn-diet">  </a>
 </div>
</div>
<div class=" col-sm-4 card">
 <div class="card-img-top">
   <img class="img-fluid"src="../../assets/mayores.jpg" alt="">
 </div>
 <div class="card-block">
   <h4 class="card-title">Center</h4>
   <p class="card-text">Magni inventore repellat dignissimos eveniet dolore ex sit illo adipisci accusamus quos.</p>
   <a href="#" class=" btn btn-primary btn-diet">  </a>
 </div>
</div>
<div class=" col-sm-4 card">
 <div class="card-img-top">
   <img class="img-fluid"src="../../assets/mayores.jpg" alt="">
 </div>
 <div class="card-block">
   <h4 class="card-title">Center</h4>
   <p class="card-text">Magni inventore repellat dignissimos eveniet dolore ex sit illo adipisci accusamus quos.</p>
   <a href="#" class=" btn btn-primary btn-diet">  </a>
 </div>
</div>
</div>
</div>
