
<div class="wrapper-login">
  <form class="form-signin"  (ngSubmit)="signup(myForm)" #myForm="ngForm" novalidate>

    <h2 class="form-signin-heading">Register form</h2>

    <input type="text" class="form-control" placeholder="Usuario" [(ngModel)]="user.username" name="username" autofocus="" />
    <input type="password" class="form-control" [(ngModel)]="user.password" name="password" placeholder="Contraseña" required="" />

    <input type="text" class="form-control" name="name" [(ngModel)]="user.name" placeholder="Nombre" required="" autofocus="" />

    <input type="text" class="form-control" name="lastname" [(ngModel)]="user.lastname" placeholder="Apellido" required="" />

    <input type="text" class="form-control" name="company" [(ngModel)]="user.company" placeholder="Empresa" required="" />

    <input type="email" class="form-control" name="email" [(ngModel)]="user.email" placeholder="Email" required="" />

    <input type="description" class="form-control" name="description" [(ngModel)]="user.description" placeholder="Descripción" required="" />

    <button class="btn btn-lg btn-primary btn-block" id="btnlogin" type='submit' name='btn_signup'>Signup</button>

  </form>

  <p class="error"> {{ error }} </p>

  <a [routerLink]="['/login']"> Already have an account?, Go to login </a>

</div>
