

<div class="wrapper-login">
  <form class="form-signin" >
    <h2 class="form-signin-heading">Login form</h2>
    <input type="text" class="form-control" name="username" placeholder="Username" [(ngModel)]="username"required="" autofocus="" />
    <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password" required="" />

    <button (click)="login()" class="btn btn-lg btn-primary btn-block" id="btnlogin" type="submit">Login</button>

  </form>
  <p class="error"> {{ error }} </p>

  <a [routerLink]="['/signup']"> You don't have an account, Go to signup </a>


</div>
